@import 'global';

body {
    background-color: $lightBlueGrey;
    font-family: $font;
}
.container {
    background-color: $lightGrey;
    width: 75%;
    margin: 50px auto;
    padding: $spacing*2;
    border-radius: 20px;
    transition: width .5s linear;
}
header {
    margin-bottom: $spacing*2;
    border-bottom: $border;
    width: 40%;
    transition: width .5s linear;
    h2 {
        font-weight: 200;
        color: $darkBlueGrey;
    }
}
.resumeInfo {
    @include flex(space-between, flex-start);
    h3 {
        font-size: $size*1.5;
        @extend %margin;
    }
}
.section {
    border-bottom: $border;
}
.margin {
    @extend %margin;
}
.left {
    padding-right: $spacing;
}
.contactBox {
    p {
        font-size: $size*.9;
    }
    a {
        text-decoration: none;
        color: $black;
        font-size: $size*.9;
    }
}
.singleSkill {
    @extend %margin;
}
.progressBox {
    @include progress();
}
.progressBarHTML {
    @include progress(135px, none, $darkBlueGrey);
}
.progressBarCSS {
    @include progress(135px, none, $darkBlueGrey);
}
.progressBarJava {
    @include progress(100px, none, $darkBlueGrey);
}
.right {
    flex-grow: 2;
    padding-left: $spacing*2;
    border-left: $border;
}
.socialContent {
    width: 100%;
    @include flex(space-between, center);
}
.socialLinkBox {
    @include flex(flex-start, center);
}
.socialLink {
    @include flex(flex-start, center);
    margin-right: $spacing;
    a {
        text-decoration: none;
        color: $black;
        margin-left: $spacing*.5;
    }
}
.singleEd, .singleExp {
    @include flex(flex-start, flex-start);
    .years {
        width: 125px;
    }
    .degree, .job {
        h4 {
            font-weight: 600;
        }
        p {
            font-weight: 300;
        }
    }
}

@media (max-width: 1000px) {
    .container {
        width: 85%;
    }
}
@media (max-width: 800px) {
    header {
        width: 70%;
    }
    .resumeInfo {
        flex-direction: column;
    }
    .left {
        display:flex;
        border-bottom: $border;
        .section {
            border-bottom: none;
        }
        .mediaLeft {
            display: flex;
            flex-wrap: wrap;
            .contactBox {
                margin-right: $spacing;
            }
        }
        .skills {
            border-left: $border;
            padding-left: $spacing;
        }
    }
    .right {
        border-left: none;
        padding-left: 0;
    }
}
@media (max-width:500px) {
    .container {
        width: view-width;
        margin: 0;
    }
    .left {
        display: block;
        .section {
            border-bottom: $border;
        }
        .skills {
            border-left: none;
            padding-left: 0;
        }
        .mediaSkills {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-right: $spacing*2;
        }
    }
}